body{
	margin: 0;
	font:12px/1.5 tahoma,arial,"Hiragino Sans GB","Microsoft Yahei",\5b8b\4f53;
	overflow: auto;
}
li{
	list-style: none;
}
ul{
	padding: 0;
	margin:0;
}
h1,h2,h3,h4,h5{
	margin: 0;
	font-weight: 100;
}
i,em{
	font-style: normal;
}
p{
	margin: 0;
}
a{
	text-decoration: none;
}

a:-webkit-any-link {
    text-decoration: none;
    cursor: pointer;
}
dl{
	margin: 0;
}
dd{
	margin: 0;
}
table{
	border-collapse: collapse;
    border-spacing: 0;
}
fieldset, img {
    border: 0;
}
/*文本*/
.f-fs12{
	font-size: 12px;
}
.f-fs14{
	font-size: 14px;
}
.f-fs16{
	font-size: 16px;
}
.f-fs18{
	font-size: 18px;
}
.f-fs20{
	font-size: 20px;
}
.f-fs22{
	font-size: 22px;
}
.f-fs24{
	font-size: 24px;
}
.f-fs26{
	font-size: 26px;
}
.f-fs28{
	font-size: 28px;
}
.f-fs30{
	font-size: 30px;
}
.f-fs32{
	font-size: 32px;
}
.f-fs34{
	font-size: 34px;
}
.f-fs36{
	font-size: 36px;
}
.f-fs38{
	font-size: 38px;
}
.f-fs40{
	font-size: 40px;
}
.f-fwb{
	font-weight: bold;
}
.f-fw100{
	font-weight: 100;
}
.f-tac{
	text-align: center;
}
.f-tal{
	text-align: left;
}
.f-tar{
	text-align: right;
}
.f-taj{
	text-align: justify;
}
.f-text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.f-fc3{
	color: #333;
}
.f-fc6{
	color: #666;
}
.f-fc9{
	color: #999;
}
.f-fcc{
	color: #ccc;
}
.f-fce{
	color: #eee;
}
.f-fcd{
	color: #ddd;
}
.f-fcb{
	color: #bbb;
}
.f-fca{
	color: #aaa;
}
.f-fcblue{
	color:#00b7ee;
}
.f-fcred{
	color:#e22815;
}

/*位置*/
.f-pos-r{
	position: relative;
}
.f-pos-a{
	position: absolute;
}
.f-pos-f{
	position: fixed;
}
.f-dn{
	display: none;
}
.f-dib{
	display: inline-block;
}
.f-fr {
    float: right;
}
.f-fl {
    float: left;
}
.f-cf {
    zoom: 1;
}
/*layout*/
.g-wrap{
	width: 1200px;
	margin: 0 auto;
}
.f-bookName-bar{
	width: 100%;
	height: 35px;
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	color: #fff;
	text-align: center;
	background: rgba(0, 0, 0, 0.6);
}
.clearfix:after {

content: ".";

display: block;

height: 0;

clear: both;

visibility: hidden;

}

/* Hides from IE-mac \*/

* html .clearfix {height: 1%;}

/* End hide from IE-mac */
/*公共箭头*/
.u-arrows{
	top: -20px;
}
.u-arrows em{
	font-size: 26px;
    color: #dedede;
}
.u-arrows i{
	font-size: 26px;
    color: #eee;
    top: 1px;
}
/*返回顶部*/
.f-return-top{
	width: 30px;
	height: 31px;
	background: url(/styles/images/common/top.png) no-repeat center;
	position: fixed;
	top: 90%;
	right: -50px;
	cursor: pointer;
	transition-duration: 5ms
}
/*路径导航*/
.u-book-path{
    font-size: 12px;
    color: #333;
}
.u-book-path a:link,.u-book-path a:visited{
	color: #333;
}
.u-book-path a:hover{
	color: #333;
	text-decoration: underline;
}
/*分页*/
.u-pagination{
        font-size: 0px;
    text-align: center;
    margin: 14px 0 20px;
}
.u-pagination a {
    min-width: 28px;
    height: 38px;
    font-size: 14px;
    color: #999;
    display: inline-block;
    padding: 0 5px;
    border: 1px solid #eee;
    margin-right: 5px;
    line-height: 38px;
    border-radius: 4px;
    background: #fff;
    vertical-align: top;
}
.u-pagination a:hover, .u-pagination a.z-current {
    background: #fa9198;
    color: #fff;
    /*border: 1px solid #ff6567;*/
}
.u-pagination a.pagination-pre{
    background: #fff url(/styles/images/common/pagination-pre.png) center no-repeat;
}
.u-pagination a.pagination-next{
    background: #fff url(/styles/images/common/pagination-next.png) center no-repeat;
}
.u-pagination a.pagination-first{
    background: #fff url(/styles/images/common/pagination-first.png) center no-repeat;
}
.u-pagination a.pagination-last{
    background: #fff url(/styles/images/common/pagination-last.png) center no-repeat;
}
/*---------评论和回复-------*/
.u-bookDetail-input{
	width: 812px;
	height: 108px;
	resize: none;
	padding: 5px;
	font-size: 14px;
	margin-top: 15px;
}
.u-bookDetail-count{
	color: #555;
	display: inline-block;
	float: left;
	margin: 35px 0 0 10px;
}
.u-bookDetail-count span{
	color: #ffa201;
}
.u-bookDetail-submit{
	width: 120px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    border-radius: 5px;
    float: right;
    display: block;
    background: #05b2dd;
    transition-duration: 500ms;
    border: 0 none;
    margin-top: 25px;
    font-family: "微软雅黑";
    cursor: pointer;
}
.u-bookDetail-submit.z-disabled{
	color: #999;
    background: #ddd;
    cursor: default;
}
.u-bookDetail-submit:hover{
	background: #0076ee;
}
.u-bookDetail-submit.z-disabled:hover{
	background: #ddd;
}
.u-bookDetail-comment{
	margin-top:115px; 
}
.u-bookDetail-comment>ul>li{
	margin-bottom: 35px;
}	
.u-comment-head{
	width: 60px;
	height: 60px;
	border-radius:30px;
	overflow: hidden;
	display: inline-block;
	margin-right:35px; 
}
.u-comment-head img{
	height: 100%;
	width: 100%;
}
.u-comment-detail{
	width: 713px;
	display: inline-block;
}
.u-comment-detail>span{
	color: #888;
}
.u-comment-detail .u-comment-text{
	color: #000d32;
	margin: 13px 0;
	line-height: 25px;
}
.u-comment-detail>div em{
	color: #888;
}
.u-comment-detail>div span i{
	margin-right: 5px;
	vertical-align: bottom;
}	
.u-comment-detail>div span{
	float: right;
	cursor: pointer;
}
.u-comment-detail ul{
	margin: 0 0 10px;
}
.u-comment-detail ul li{
	padding: 20px;
    position: relative;
    border: 1px solid #dedede;
    background: #eee;
    border-radius: 4px;
    color: #666;
    margin-bottom: 10px;
}
.u-comment-detail li>div a{
	cursor: pointer;
	color: #00b7ed;
	margin-right: 3px; 
}
.u-comment-detail li>div a.z-author{
	cursor: pointer;
	color: #ff72a4;
}
.u-comment-detail li>div a:link,
.u-comment-detail li>div a:visited,
.u-comment-detail li>div a:hover{
	color: #ff72a4;
	text-decoration: none;
}
.u-comment-detail li>div a.z-author:link,
.u-comment-detail li>div a.z-author:visited,
.u-comment-detail li>div a.z-author:hover{
	color: #ff72a4;
	text-decoration: none;
}
.u-comment-detail li>div i,
.u-comment-detail>span i{
	background: #ff72a4;
    color: #fff;
    padding: 0px 2px 0px;
    margin-right: 4px;
    border-radius: 4px;
}
.u-comment-detail>span strong{
	background: #1cd389;
	color: #fff;
    padding: 0px 2px 0px;
    margin-right: 4px;
    border-radius: 4px;
	font-weight: 100;
}
.u-comment-detail li>div em{
	position: absolute;
    right: 0;
    color: #aaa;
}
.u-comment-detail li>p{
	 line-height: 20px;
    margin-top: 5px;
} 
.u-comment-reply i{
	width: 16px;
	height: 14px;
	display: inline-block;
	background: url(/styles/images/common/sprite.png) no-repeat -232px -22px;
}
.u-comment-like i{
	width: 15px;
	height: 14px;
	display: inline-block;
	background: url(/styles/images/common/sprite.png) no-repeat -251px -22px;
	margin-left: 35px;
}
.u-comment-like i.z-current{
	background: url(/styles/images/common/sprite.png) no-repeat -292px -22px;
}
.u-reply-box{
	margin-top: 10px;
	margin-bottom: 10px;
    height: 0;
    overflow: hidden;
    width: 713px;
}

.u-reply-box input{
	float: left;
    width: 648px;
    line-height: 44px;
    border: 1px solid #ddd;
    background: none;
    text-indent: 2em;
    height: 36px;
}
.u-reply-box a{
	width: 60px;
    line-height: 46px;
    text-align: center;
    color: #333;
    float: left;
    border: 0 none;
    display: block;
    text-indent: 0;
    background: #ccc;
}
/*-----遮罩----*/
.u-shade{
	width: 100%;
	height: 100%;
	position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: #000;
    filter: alpha(opacity=50);
    -moz-opacity: .5;
    opacity: .5;
    filter: alpha(opacity=50);
}
/*------------弹窗关闭叉叉-------------------*/
.u-popup-close{
	width: 23px;
	height: 23px;
	position: absolute;
	display: block;
	background:  url(/styles/images/common/sprite.png) no-repeat -130px -206px;
	cursor: pointer;
}

/*--------列表为空的样式-----*/
.f-list-empty{
	font-size: 12px;
	padding:50px 0;
	color: #999;
	text-align: center;
}
/*左侧有红色竖线的标题*/
.u-h3-title{
    border-bottom: 1px solid #c9c9c9;
    color: #333;
    font-size: 16px;
}
.u-h3-title span{
    border-left: 6px solid #ff7e9c;
    padding-left: 10px;
    margin-bottom: 20px;
    display: block;
}
/*左侧为小图标的标题*/
.u-recommended-title>i {
    width: 46px;
    height: 44px;
    display: inline-block;
    background: url(/styles/images/author/title-icon.png) no-repeat center;
    background-size: 100%;
    vertical-align: middle;
    margin-right: 10px;
}
/*通用提示框*/
.m-common-tips{
	padding: 20px 22px;
	border-radius: 6px;
	border:1px solid #d5d5d5;
	width: 260px;
	min-height: 130px;
	background: #fff;
	position: fixed; 
	left: 50%;
	top: 20%;
	margin-left: -150px;
	color: #333;
	z-index: 1000;
}
 .m-common-tips>h5{
	padding-bottom: 12px;
 } 
 .m-common-tips>p{
 	margin-top: 10px;
 } 
 .u-common-tipsbtn{
 	font-size: 0;
    margin: 25px auto 0;
    width: 180px;
 }
 .u-common-tipsbtn span{
 	width: 76px;
 	height: 26px;
 	display: inline-block;
 	background: #fff; 
 	border:2px solid #dcdcdc;
 	border-radius: 4px;
 	font-size: 14px;
 	color: #666;
 	line-height: 26px;
 	text-align: center;
 	margin-right: 10px;
 	cursor: pointer;
 }
 .u-common-tipsbtn span.z-ok{
	background: #ff7e9c;
	border: 2px solid #ff7e9c;
	color: #fff;
 }
 .m-common-alert{
	padding: 20px 22px;
    border-radius: 6px;
    border: 1px solid #d5d5d5;
    width: 260px;
    min-height: 70px;
    background: #fff;
    position: fixed;
    left: 50%;
    top: 20%;
    margin-left: -150px;
    color: #333;
    z-index: 1000;
    text-align: center;
}
.u-alert-text{
	margin-top: 20px;
    line-height: 24px;
    font-size: 14px;
}
.m-common-prop{
	width: 300px;
}
.m-common-prop input{
	width: 290px;
    padding: 0 5px;
    border: 2px solid #e5e5e5;
    border-radius: 4px;
    height: 25px;
    margin: 12px auto 0;
    display: block;
}
.u-common-vCodeTips{
	width: 85px;
	height: 40px;
	margin: 0 auto;
	display: block;
}
.u-common-vCodeInput{
	width: 103px;
	height: 36px;
	border: 2px solid #e5e5e5;
	display: block;
	margin: 0 auto;
	border-radius: 4px;
	padding: 0 10px; 
}
.u-common-vCodeNext{
	display: block;
	margin: 15px auto 30px;
	width: 50px;
	text-align: center;
	cursor: pointer;
	color: #ff7e9c;
}
 /*章节vip图标*/
 .u-vip-icon{
	width: 29px;
	height: 16px;
	display: inline-block;
	background: url(/styles/images/member/vip-icon.png) no-repeat center;
    margin-left: 5px;
}
/*悬浮菜单*/
.u-float-menu{
	width: 100%;
    transition-duration: 200ms;
}
.z-float-menu{
	position: fixed;
	top: -60px;
	z-index: 1000;
}
    /*首页二维码*/
    .f-index-qrcode{
        position: fixed;
	    left: 52%;
	    top: 27%;
	    margin-left: 555px;
	    width: 20px;
	    background: #fff;
	    z-index: 100;
	    padding: 10px;
	    text-align: center;
	    border: 1px solid #ccc;
	    border-radius: 4px;
	    cursor: pointer;
    }
    .f-index-qrcode>img{
        padding: 5px 0;
    }
    .f-index-qrcode p{
        font-size: 14px;
        line-height: 15px;
        color: #666;
    }
    .f-index-qrcode>div img{
        width: 100%;
        height: 100%;
    } 
    .f-index-qrcode>div {
        position: absolute;
        left: -155px;
        top: 50px;
        opacity: 0;
        border: 1px solid #ccc;
        height: 150px;
        width: 150px;
        display:none;
    }
    .f-index-qrcode:hover div{
        transition-duration: 300ms;
        opacity: 1; 
        display: block; 
    }

        .m-welcome-wrap{
        position: fixed;
        top: 50%;
        left: 50%;
        width: 738px;
        height: 490px;
        margin-left: -369px;
        margin-top: -245px;
        background: #fff;
        z-index: 1000;
        font-size: 0;
        box-shadow: 0px 0px 12px #000;
    }
        /*作者强制性消息弹框*/
        .m-message-wrap{
	    position: fixed;
	    top: 50%;
	    left: 50%;
	    width: 400px;
	    height: 240px;
	    margin-left: -169px;
	    margin-bottom: -245px;
	    background: #fff;
	    z-index: 800;
	    font-size: 0;
	    box-shadow: 0px 0px 12px #000;
    }
    .m-welcome-wrap>img{
        width: 369px;
        height: 490px;
        display: inline-block;
        border-right: 1px solid #c5c5c5;
    }
    .u-welcome-text{
        width: 368px;
        height: 490px;
        display: inline-block;
        vertical-align: top;
    }
    .u-welcome-text>div{
        padding: 37px 0 30px 37px;
    }
    .u-welcome-text h4{
        font-size: 20px;
        color: #333;
    }
    .u-welcome-text em{
        color: #888;
        font-size: 12px;
        display: block;
        margin-bottom: 25px;
    }
    .u-welcome-text span{
        font-size: 14px;
        display: block;
        color: #666;
        line-height: 25px;
    }
    .u-welcome-text a{
        padding: 37px 30px 0 35px;
        text-indent: 2em;
        font-size: 14px;
        color: #999;
		display: block;
        border-top: 1px solid #c5c5c5;
        line-height: 22px;
    }
    .u-coffee{
        color: #d06d1d;
    }
    .u-blue{
        color: #27a6e0;
    }
    .u-red{
        color: #c00000;
    }
    .u-welcome-close{
        position: absolute;
        right: 20px;
        top: 20px;
        width: 24px;
        height: 24px;
        display: block;
        background: url(/styles/images/common/close-24.png) center no-repeat;
        cursor: pointer;
    }